@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Homemade+Apple&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Homemade+Apple&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body{
      background-color: #F3EDE6;
      font-family: "Poppins", sans-serif;
      /* font-family: "EB Garamond", serif; */
}

a{
      text-decoration: none;
}

button:focus {
      outline: 0 !important;
      border: 1px solid transparent !important;
  }

.row_padding_remove{
      padding: 0 !important;
}

/* global css end */

/* nav start */

.dropdown_box{
      position: absolute;
      margin-left: -9.5vw;
      top: 3.5vw !important;
}

.login_btn{
      background-color: #212833;
      border: 1px solid #212833;
}

.login_btn:hover{
      background-color: #21283356;
      border: 1px solid #21283356;
}
/* nav end */

/* banner start */
.banner_text h1{
      font-size: 5vw;
      font-weight: 600;
}

.banner_text_span{
      font-size: 6vw;
      font-weight: 600;
      font-family: "EB Garamond", serif;
      font-style: italic;
      font-weight: 300;
}

.banner_start_btn{
      background-color: #0061FE;
      padding: 1vw 3vw;
      border-radius: 50px;
      color: #fff;
      font-weight: 500;
}

.banner_schedule_btn{
      border: 1px solid #0061FE;
      padding: 1vw 3vw;
      border-radius: 50px;
      color: #0061FE;
      font-weight: 500;
}
/* banner end */

/* felxible start */
.flexible_title p{
      color: #b1b1b1;
      font-size: 1vw;
      letter-spacing: 2px;
}
.flexible_title h2{
      font-size: 4vw;
      font-weight: 600;
}

.flexible_grid h3{
      font-size: 3vw;
      font-weight: 500;
}

.flexible_grid_title_small{
      font-weight: 600;
      color: #0061FE;
}

.flexible_grid p{
      font-size: 1vw;
}

.felxible_local_btn{
      background-color: #0061FE;
      padding: 1vw 3vw;
      border-radius: 50px;
      color: #fff;
      font-weight: 500;
      font-size: 1vw;
}

.flexible_foreign_btn{
      border: 1px solid #0061FE;
      padding: 1vw 3vw;
      border-radius: 50px;
      color: #0061FE;
      font-weight: 500;
      font-size: 1vw;
}
/* felxible end */

/* founders start */
.founders_title p{
      color: #b1b1b1;
      font-size: 1vw;
      letter-spacing: 2px;
}
.founders_title h2{
      font-size: 4vw;
      font-weight: 600;
}

.founders_grid_right_text_small{
      font-family: "EB Garamond", serif;
      font-style: italic;
}
/* founders end */

/* founding start */
.founding_title p{
      color: #b1b1b1;
      font-size: 1vw;
      letter-spacing: 2px;
}

.founding_title h2{
      font-size: 4vw;
      font-weight: 600;
}

.founding_grid_right_text h3{
      font-size: 3vw;
      font-weight: 500;
}

.founding_grid_right_btn{
      border: 1px solid #0c0c0c;
      padding: 1vw 3vw;
      border-radius: 50px;
      color: #0f0f0f;
      font-weight: 500;
      font-size: 1vw;
}
/* founding end */

/* client start */
.client_title p{
      color: #b1b1b1;
      font-size: 1vw;
      letter-spacing: 2px;
}

.client_title h2{
      font-size: 4vw;
      font-weight: 600;
}

.client_grid_left_img{
      position: relative;
      z-index: 0;
}

.client_grid_left_img img{
      z-index: 0;
}

.client_grid_left_play_btn{
      position: absolute;
      right: 5vw;
      bottom: 3vw;
      z-index: 1000;
}

.client_grid_left_play_btn img{
      width: 5vw;
      filter: blur(1px);
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
}

.client_grid_left_play_btn img:hover{
      filter: blur(0px);
      opacity: 1;
      transition: all 0.3s ease-in-out;
}

.client_grid_right_text{
      background-color: #0061FE;
}

.client_grid_right_text p{
      font-size: 1vw;
      color: #fff;
}

.client_grid_right_text h1{
      font-size: 7vw;
      color: #fff;
}

.client_grid_right_text h3{
      font-size: 1.6vw;
      color: #fff;
      font-weight: 300;
}

/* .client_grid_left_second_txt_img{
      background-color: #212833;
      padding: 2vw;
}


.client_grid_left_second_txt_img P{
      font-size: 1vw;
      color: #fff;
}

.client_grid_left_second_txt_img h3{
      font-size: 2.1vw;
      color: #fff;
      font-weight: 500;
      margin-bottom: 3vw;
} */

.client_second_grid_left_img{
      background-color: #21283300;
}

.client_second_grid_left_img_inner{
      background-color: #212833;
      padding: 1.5vw;
}

.client_second_grid_left_img_inner P{
      font-size: 0.8vw;
      color: #fff;
}

.client_second_grid_left_img_inner h3{
      font-size: 2.1vw;
      color: #fff;
      font-weight: 500;
      margin-bottom: 3vw;
}

.client_second_grid_right_text{
      background-color: #e8e2db;
}

.client_second_right_grid_text h3{
      font-size: 3vw;
}

/* client end */